.option-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;
}

.option-card {
  flex: 1;
  background-color: #e0f7fa;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid transparent;
}
.option-card:hover {
  background-color: #b2ebf2;
  border-color: #0097a7;
}

.option-card img {
  margin-top: 0.5rem;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
